#cpu, #score {
    height: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: lightblue;
}
#score {
    height: 2rem;
    background-color: lightcyan;
}
#playerScore, #cpuScore {
    display: flex;
}
.tag {
    flex: 0 1 auto;
    min-width: 10%;
}
#playerScore > div, #cpuScore > div {
    flex: 0 1 auto;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin: 0 .4rem;
    background-color: #672231;
}
